/* GOOGLE FONT (Roboto:300,400,500) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* ROOT RESET */
:root,
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* HTML RESET */
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}

/* ION-ICON RESET */
ion-icon {
  --ionicon-stroke-width: 40px;
  font-size: 24px;
}

/* BACKGROUND-IMAGE WRAPPER */
.background_wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(270deg, #ff5858, #f09819);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* LOGIN-FORM */
.login_form_wrapper {
  z-index: 999;
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid hsl(0, 0%, 90%);
  color: hsla(0, 0%, 100%, 0.897);
  border-radius: 1.5rem;
  backdrop-filter: blur(10px);
  padding: 2.5rem 2rem 3.5rem;
  width: 26.25rem;
}

/* TITLE */
.title {
  display: block;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: hsl(0, 0%, 90%);
  letter-spacing: 1px;
}

/* LOGIN-FORM-CONTENT */
.login_form_content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.login_content_box {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid hsl(0, 0%, 90%);
}

.login_content_box--input {
  width: 100%;
  position: relative;
}

/* LOGIN-INPUT */
.login_input {
  width: 100%;
  padding-block: 0.8rem;
  background-color: transparent;
  color: hsl(0, 0%, 90%);
  position: relative;
  z-index: 1;
  font-size: 1.125rem;
}

/* LOGIN-LABEL */
.login_label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: 400;
  transition: top 0.3s, font-weight 0.3s;
}

.password--input {
  padding-right: 1.8rem;
}

.password_hidden {
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 10;
  cursor: pointer;
}

.remember_login,
.remember_login_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remember_login {
  margin-bottom: 1rem;
}

.remember_login_content {
  column-gap: 0.4rem;
}

.remember_login_input {
  width: 0.95rem;
  height: 0.95rem;
}

.forget_login {
  color: hsl(0, 0%, 90%);
}

.forget_login:hover {
  text-decoration: underline;
}

/* BUTTON LOGIN */
.button_login {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 100%, 0.796);
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  transition: background-color 0.4s ease;
  letter-spacing: 0.5px;
}

.button_login:hover {
  background-color: hsla(0, 0%, 0%, 0.796);
  color: hsl(0, 0%, 90%);
}

/* REGISTER LOGIN */
.register_login {
  text-align: center;
}

.register_login a {
  color: hsla(61, 98%, 47%, 0.897);
  font-weight: 500;
}

.register_login a:hover {
  text-decoration: underline;
}

/* INPUT FOCUS TRANSITION */
.login_input:focus + .login_label {
  top: -12px;
  font-weight: 500;
}

/* STICKY INPUT ON FOCUS WITH TRANSITION */
.login_input:not(:placeholder-shown).login_input:not(:focus) + .login_label {
  top: -12px;
}

/* LIGHT/DARK MODE TOGGLE */
.toggle_mode {
  position: absolute;
  top: 10px;
  right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(  14px);
}

body.light-mode .background_wrapper {
  background: linear-gradient(270deg, #00c6ff, #0072ff);
}

body.light-mode .login_form_wrapper {
  background-color: hsla(0, 0%, 100%, 0.9);
  color: hsla(0, 0%, 0%, 0.9);
  border: 2px solid hsl(0, 0%, 20%);
}

body.light-mode .title, 
body.light-mode .forget_login, 
body.light-mode .button_login, 
body.light-mode .register_login a {
  color: hsl(0, 0%, 20%);
}

body.light-mode .button_login:hover {
  background-color: hsla(0, 0%, 20%, 0.9);
  color: hsl(0, 0%, 100%);
}

